<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="css/styles.css">

</head>
<body>
<h2>Put in your username and click start!</h2>
	<form id="formI"action="./game.ejs">
  
		<input id="username" type="text" placeholder="Username" name="user" required><br><br>
		<input id="gameScore" type="text" value="0" style="visibility:hidden;" name="score" required><br>
		
		<input id="buttons" type="submit" value="Let's Go!"><br>

	</form>
	
<br>


</div>
</body>
</html>
