.formI{
  position: relative;
  top: 230px;
}

body{
  background-color:#55AA55;
  margin:auto;
  width:50%;
  text-align:center;
  color:#DDFFEE;
}
input{
  background:none;
  background-color:#EEEEEE;
  border-radius:10px;
  text-align:center;
  color:#333333;
}
#buttons {
  background-color:#008CBA;
  color: #EEEEEE;
  border: none;
  position: relative;
  top: 2px;
  margin:5px;
  border-radius:10px;
}

.upBtn{
  border-radius: 50% !important;
  padding: 10px;
  background-color:#22CC66 !important;
}